{% extends "core/base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}


{% block content %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Déjate sorprender</span>
            <span class="section-heading-lower">Te gustará</span>
          </h2>
          <p class="mb-3">Trabajamos sólo con los mejores ingredientes. Una vez lo pruebes, nuestro café será la mejor forma de empezar tu rutina diaria.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="{% url 'admin:index' %}">Visítanos</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Mensaje -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Compromiso total</span>
              <span class="section-heading-lower">Garantizado</span>
            </h2>
            <p class="mb-0">En la web cafetería iniciando sesión. Podrás agregar, modificar o eliminar servicios y páginas, con sus respectivos títulos, texto y elegir una imagen de preferencia en el caso de los servicios. Podrás acceder al blog que esta ordenado por categorías, no solo podrás agregar nuevas entradas al blog si no también nuevas categorías. Y modificar los enlaces a las redes sociales.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
  